<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生信息管理平台</title>
<link rel="stylesheet" type="text/css"
	href="../../Script/bootstrap/bootstrap.css" />
<link href="../../Style/StudentStyle.css" rel="stylesheet"
	type="text/css" />
<link href="../../Style/ks.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Script/jquery.js"></script>
<script type="text/javascript" src="../../Script/bootstrap/bootstrap.js"></script>
<script type="text/javascript">
	$(function(){

		$.get("/getList",function (data) {

			for (var i = 0; i<data.length; i++)
			{
				$("#user_name").html(data[i].name);

				var tr = "<tr>	"+
						"	<td>"+data[i].name  +"&nbsp;</td>"+
						"	<td>"+data[i].idCardNumber+"&nbsp;</td>"+
						"	<td>"+ data[i].studentId+"&nbsp;</td>	"+
						"	<td>"+data[i].sex +"&nbsp;</td>"+
						"	<td>"+data[i].age +"&nbsp;</td>"+
						"	<td>"+data[i].nation +"&nbsp;</td>"+
						"	<td>"+data[i].nativePlace +"&nbsp;</td>"+
						"	<td>"+
						"		<div align=\"center\">"+
						"			<input type=\"button\" id=\"button1\" value=\"详情\" "+
						"					data-toggle=\"modal\" data-target=\"#select\" role=\"button\""+
						"					class=\"btn btn-primary\" />"+
						"		</div> 		"+
						"	</td>"+
						"	<td>		"+
						"		<div align=\"center\">"+
						"			<input type=\"button\" id=\"button2\" value=\"修改\""+
				'				data-toggle="modal" data-target="#change" role="button"'+
				'			class="btn btn-primary" />'+
				"		</div> "+
				"	</td>"+
				"	"+
				"</tr>"
				$("#list").prepend($(tr));
				var index = i;
				$("#button1").click(function () {
					selectdel(index,data);
				})

				$("#button2").click(function () {
					changeInfo(index,data);
				})
			}

		},"json");


		function selectdel(index,data)
		{
			$("#username").html(data[index].name);
			$("#idCardNumber").html(data[index].idCardNumber);
			$("#studentId").html(data[index].studentId);
			$("#classes").html(data[index].classes);
			$("#sex").html(data[index].sex);
			$("#age").html(data[index].age);
			$("#nation").html(data[index].nation);
			$("#NativePlace").html(data[index].nativePlace);
			$("#s1").html(data[index].education.s1);
			$("#e1").html(data[index].education.e1);
			$("#sc1").html(data[index].education.sc1);
			$("#t1").html(data[index].education.t1);
			$("#s2").html(data[index].education.s2);
			$("#sc2").html(data[index].education.sc2);
			$("#t2").html(data[index].education.t2);
			$("#s3").html(data[index].education.s3);
			$("#sc3").html(data[index].education.sc3);
			$("#t3").html(data[index].education.t3);
			$("#s4").html(data[index].education.s4);
			$("#e4").html(data[index].education.e4);
			$("#sc4").html(data[index].education.sc4);
			$("#t4").html(data[index].education.t4);
			$("#s5").html(data[index].education.s5);
			$("#e5").html(data[index].education.e5);
			$("#sc5").html(data[index].education.sc5);
			$("#t5").html(data[index].education.t5);
			$("#s6").html(data[index].education.s6);
			$("#e6").html(data[index].education.e6);
			$("#sc6").html(data[index].education.sc6);
			$("#t6").html(data[index].education.t6);
		}

		function changeInfo(index,data)
		{
			$("#name_change").val(data[index].name);
			$("#idCardNumber_change").val(data[index].idCardNumber);
			$("#studentId_change").val(data[index].studentId);
			$("#classes_change").val(data[index].classes);
			$("#sex_change").val(data[index].sex);
			$("#age_change").val(data[index].age);
			$("#nation_change").val(data[index].nation);
			$("#nativePlace_change").val(data[index].nativePlace);
			$("#changeSure").click(function () {

				var changeInfodata = form2JsonString("changeInfo")
				var id  = data[index].idCardNumber;
				console.log("修改数据后的表单信息："+changeInfodata)
				$.post("/changeInfo",{"changeInfo":changeInfodata,"id":id},function(data)
				{

					if(data.isOK)
					{
						alert("修改成功")

					}else
					{
						alert("修改失败")
					}
					location.href = "/teacher_StudentList.html"

				},"json")
			})
		}

		function form2JsonString(formId) {
			var paramArray = $('#' + formId).serializeArray();
			/*请求参数转json对象*/
			var jsonObj={};
			$(paramArray).each(function(){
				jsonObj[this.name]=this.value;
			});
			console.log(jsonObj);
			// json对象再转换成json字符串
			return JSON.stringify(jsonObj);
		}

	})
    
</script>
</head>
<body>

	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../../Index.html"> <img
						src="../../Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<span id="user_name"></span>老师，欢迎您！ <a href="../../MyInfo/StudentInfo.html">我的信息</a>
					<a href=""> 通知</a> <a href="ChangePasswd.html">密码修改</a> <a
						onclick="loginOut()" href="javascript:void(0);">安全退出</a>
				</div>
				
			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					
					<!--学生管理-->
					<div class="ta1">
						<strong>学生管理</strong>
						<div class="leftbgbt2"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="teacher_StudentList.html">学生列表</a>
						</div>
					</div>
                    
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">学生管理 &gt; 学生列表</h2>
				<div class="cztable">
					<table width="100%" border="0" cellspacing="0" cellpadding="0"
						style="text-align: center; margin: 30px auto 0px auto;">
						<thead >
							<tr>
								
								<th>姓名</th>
								<th>身份证号</th>
								<th>学号</th>
								<th>性别</th>
								<th>年龄</th>
								<th>民族</th>
								<th>籍贯</th>
								<th colspan="2">操作</th>
							</tr>
						</thead>
						<tbody id="list">

						</tbody>
					
					</table>
					<!--模态框 修改学生简单信息-->
					<div role="dialog" class="modal fade" id="change">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title">修改学生简单信息</h4>
									</div>
									<form id="changeInfo">
									<div class="modal-body">
											<div class="form-group">
												<label for="name_change">姓名：</label>
												<input type="text" class="form-control" 
													id="name_change"
													name="name_change"
													value="">
											</div>
											<div class="form-group">
												<label for="idCardNumber_change">身份证号：</label>
												<input type="text" class="form-control" 
													id="idCardNumber_change"
													name="idCardNumber_change"
													value="">
											</div>
											<div class="form-group">
												<label for="studentId_change">学号：</label>
												<input type="text" class="form-control" 
													id="studentId_change"
													name="studentId_change"
													value="">
											</div>
											<div class="form-group">
												<label for="classes_change">班级：</label>
												<input type="text" class="form-control" 
													id="classes_change"
													name="classes_change"
													value="">
											</div>
											<div class="form-group">
												<label for="sex_change">性别：</label>
												<input type="text" class="form-control" 
													id="sex_change"
													name="sex_change"
													value="">
											</div>
											<div class="form-group">
												<label for="age_change">年龄：</label>
												<input type="text" class="form-control" 
													id="age_change"
													name="age_change"
													value="">
											</div>
											<div class="form-group">
												<label for="nation_change">名族：</label>
												<input type="text" class="form-control" 
													id="nation_change"
													name="nation_change"
													value="">
											</div>
											<div class="form-group">
												<label for="nativePlace_change">籍贯：</label>
												<input type="text" class="form-control" 
													id="nativePlace_change"
													name="nativePlace_change"
													value="">
											</div>
											
									</div>
									<div class="modal-footer">
										<button type="button" id="changeSure" class="btn btn-danger">确定</button>
										<button type="button"  data-dismiss="modal"  class="btn btn-primary">取消</button>
									</div>
								</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					<!--模态框 查询学生简单信息-->
					<div role="dialog" class="modal fade" id="select">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">查询学生简单信息</h4>
								</div>
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td align="right" width="80">姓名：</td>
										<td id="username"></td>
										<td align="right" width="90">身份证号码：</td>
										<td id="idCardNumber">&nbsp;</td>

										<td rowspan="5">
											<div align="center">
												<img id="pic_face" height="160" width="120"
													 src="../../static/Images/16sucai_P591F7B181.JPG"
													 style="padding: 2px 2px 5px; border: 1px #ddd solid;">
											</div>&nbsp;
										</td>
									</tr>
									<tr>
										<td align="right">学号：</td>
										<td id="studentId">&nbsp;</td>
										<td align="right">班级：</td>
										<td id="classes">&nbsp;</td>
									</tr>
									<tr>
										<td align="right">性别</td>
										<td id="sex">&nbsp;</td>
										<td align="right">年龄：</td>
										<td id="age">&nbsp;</td>
									</tr>
									<tr>
										<td align="right">民族：</td>
										<td id="nation">&nbsp;</td>
										<td align="right">籍贯：</td>
										<td id="NativePlace">&nbsp;</td>
									</tr>

								</table>
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td align="center" width="80">一年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s1">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e1">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc1">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t1">&nbsp;</td>
									</tr>

									<tr>
										<td align="center" width="80">二年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s2">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e2">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc2">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t2">&nbsp;</td>
									</tr>
									<tr>
										<td align="center" width="80">三年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s3">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e3">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc3">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t3">&nbsp;</td>
									</tr>

									<tr>
										<td align="center" width="80">四年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s4">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e4">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc4">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t4">&nbsp;</td>
									</tr>

									<tr>
										<td align="center" width="80">五年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s5">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e5">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc5">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t5">&nbsp;</td>
									</tr>
									<tr>
										<td align="center" width="80">六年级</td>
										<td align="center" width="80">入学时间</td>
										<td id="s6">&nbsp;</td>
										<td align="center" width="90">结束时间</td>
										<td id="e6">&nbsp;</td>
										<td align="center" width="80">学校</td>
										<td id="sc6">&nbsp;</td>
										<td align="center" width="90">班主任</td>
										<td id="t6">&nbsp;</td>
									</tr>
								</table>
							</div>
								<!-- /.modal-content -->
						</div>
							<!-- /.modal-dialog -->
					</div>

					

					
						
				</div>
			</div>
	</div>
	<div class="footer">
		<p>&copy;copyright 2012</p>
	</div>
	</div>
</body>
</html>
